.areaPosts {
    width: 600px;
    height: 750px;
    float: left;
    overflow: auto;
}

.areaPost {
    width: 600px;
    height: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.areaPost.is_hidden {
    display: none;
}

.areaPostUser {
    display: inline-block;
    text-align: right;
    width: 200px;
    height: 150px;
}

.areaPostUserLoginId {
    margin-top: 5px;
}

.areaPostComment {
    display: inline-block;
    vertical-align: top;
    width: 320px;
    height: 150px;
}

.areaPostDetail {
    width: 320px;
    height: 100px;
    overflow: auto;
    overflow-wrap: break-word;
    border: solid;
    border-radius: 8px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.areaPostInformation {
    position: relative;
    width: 320px;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.buttonPostDelete {
    position: absolute;
    right: 0px;
    bottom: 12px;
}

.areaButtonMore {
    text-align: center;
}

.areaPostCreateAt {
    position: absolute;
    right: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.areaLoginUser {
    display: inline-block;
    width: 400px;
    height: 400px;
}

.ImageLoginUser {
    text-align: center;
}

.areaLoginUserProfile {
    height: 50px;
    margin-bottom: 5px;
}

.areaLoginUserProfile b {
    padding-right: 5px;
}

.areaLoginUserProfile p {
    padding-right: 5px;
}

.logoutLink {
    height: 50px;
    vertical-align: middle;
}

.logoutLink a {
    line-height: 50px;
}

.areaLoginUserLoginId {
    margin-top: 5px;
}

.areaInputPost {
    position: relative;
    vertical-align: top;
    text-align: center;
    width: 400px;
    height: 320px;
}
