<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href=@{/css/style.css} rel="stylesheet" type="text/css">
    <title>Login</title>
</head>
<body>

<h3 class="areaHeader">ログイン</h3>

<div class="areaLogin">
    <form th:action="@{/login}" th:method="post">
        <table border="0" class="areaLoginTable">
            <tr>
                <td class="head">ID</td>
                <td class="body">
                    <input type="text" id="loginId" name="loginId" size="32">
                </td>
            </tr>
            <tr>
                <td class="head">PASSWORD</td>
                <td class="body">
                    <input type="password" id="password" name="password" size="32">
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="body">
                    <div class="areaButton">
                        <button id="buttonLogin" type="submit">ログイン</button>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="linkRegistration">
                        <a th:href="@{/registration}">ユーザー登録ページ</a>
                    </div>
                </td>
            </tr>
        </table>
    </form>

</div>

</body>
</html>
