<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<header class="Area_header">ログイン</header>

<div class="Area_register">
    <form th:action="@{/}" th:method="get">
        <!--provision-->
        <table border="1" class="Area_register_table">
            <tr>
                <td class="head">ID</td>
                <td class="body">
                    <input type="text" name="loginId" size="16">
                </td>
            </tr>
            <tr>
                <td class="head">パスワード</td>
                <td class="body">
                    <input type="text" name="password" size="64">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">送信</button>
                    <button type="reset">リセット</button>
                </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>