<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href=@{/css/style_posts.css} rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>SampleSNS</title>
</head>
<body>

    <header class="areaHeader">SNSApp</header>

    <div class="areaPosts">
        <div class="areaPost" th:each="post:${posts}" th:object="${post}">
            <div class="areaPostUser">
                <div>
                    <img th:src="@{/image/icon.png}" width="45" height="40">
                </div>
                <b class="areaPostUserName" th:text="*{user.name}"></b>
                <p class="areaPostUserLoginId" th:text="*{user.loginId}"></p>
            </div>
            <div class="areaPostComment">
                <p class="areaPostDetail" th:text="*{comment}"></p>
                <div class="areaPostInformation">
                    <p class="areaPostCreateAt" th:text="*{createAt}"></p>
                    <button class="buttonPostDelete" th:if="${user.userId}==${post.user.userId}" type="delete">削除</button>
                </div>
            </div>
        </div>
        <div class="areaButtonMore">
            <button id="buttonMore">さらに表示する</button>
        </div>
    </div>

    <div class="areaLoginUser">
        <div class="ImageLoginUser">
            <img th:src="@{/image/icon.png}" width="90" height="80">
        </div>
        <div style="display: flex; justify-content: center; align-items: center">
            <div class="areaLoginUserProfile">
                <b class="areaLoginUserName" th:text="${user.name}"></b>
                <p class="areaLoginUserLoginId" th:text="${user.loginId}"></p>
            </div>
            <form th:action="@{/logout}" th:method="post">
                <button id="buttonLogout" type="submit">ログアウト</button>
            </form>
        </div>
        <div class="areaInputPost">
            <form th:action="${user} ? @{/post} : @{/}" th:method="post">
                <input th:if="${user}" type="hidden" name="user" th:value="${user.userId}">
                <textarea name="comment" rows="4" cols="40" placeholder="投稿内容を入力"></textarea>
                <div>
                    <button type="submit">送信</button>
                    <button type="reset">リセット</button>
                </div>
            </form>
        </div>

    </div>

</body>
<script src="js/posts.js"></script>
</html>
