<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href=@{/css/style_registration.css} rel="stylesheet" type="text/css">
    <title>Registration</title>
</head>

<body>

    <header class="areaHeader">
        <h3>ユーザ登録</h3>
    </header>

    <div class="areaResister">
        <form id="formRegister" th:action="@{/registration}" th:method="post">
            <table border="0" class="areaResisterTable">
                <tr>
                    <td class="head">NAME</td>
                    <td class="body">
                        <input type="text" name="name" size="32">
                    </td>
                </tr>
                <tr>
                    <td class="head">ID</td>
                    <td class="body">
                        <input type="text" name="loginId" size="32">
                    </td>
                </tr>
                <tr>
                    <td class="head">PASSWORD</td>
                    <td class="body">
                        <input type="password" name="password" size="32">
                    </td>
                </tr>
                <tr>
                    <td class="head">PASSWORD(確認)</td>
                    <td class="body">
                        <input type="password" name="passwordConfirm" size="32">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="areaButtons">
                            <button id="buttonSubmit" type="submit">送信</button>
                            <button id="buttonReset" type="reset">リセット</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="linkLogin">
                            <a th:href="@{/}">ログインページ</a>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</body>

<script src="js/registration.js"></script>

</html>
